<!-- further details of the event -->
Name: <%= @event.event_name() %><br>
Organization: <%= @event.organization() %><br>
Location: <%= @event.location() %><br>
Time: <%= @event.time() %><br>
Ticket:Ksh. <%= @event.fee() %><br>

<!-- form for an attendee -->
<div class="forms">
    <form action="/attendees" method="post">

        <input name="event_id" id="event_id" type="hidden" value="<%= @event.id()%>">

        <label>
            <input type="text" id="name" name="name" required/>
            <div class="label-text">
                Your Name
            </div>
        </label>

        <label>
            <input type="text" id="number" name="number" required/>
            <div class="label-text">
                Phone Number
            </div>
        </label>
        <button type="submit">Submit</button>

    </form>
</div>
