Name: <%= @event.event_name() %><br>
Organization: <%= @event.organization() %><br>
Location: <%= @event.location() %><br>
Time: <%= @event.time() %><br>
Ticket: <%= @event.fee() %><br>

<form class="" action="/attendees" method="post">

 <input name="event_id" id="event_id" type="hidden" value="<%= @event.id()%>">

 <label for="name">Your Name:</label>
   <input type="text" id="name"  name="name" required/>

<label for="number">Phone Number:</label>
   <input type="number" id="number" name="number" required/>

<button type="submit">Submit</button>

</form>
