
<% if @category.events().any?() %>
   <h3>Here are all the events for category:<%= @category.categorie_name() %> </h3>

   <ul>
     <% @category.events().each() do |event| %>
       <li><%= event.organization() %>,<%=event.event_name() %>,<%= event.time() %>,<%= event.location() %>, <%= event.fee() %> </li>
     <% end %>
   </ul>

   <% else %>
     <p>There are no events for <%= @category.categorie_name() %>!</p>
   <% end %>

 <div class="container">
   <a href="/">Home</a>
   <a href="/categories">View All categories</a>
 </div>
