<% if @event.attendees().any?() %>
   <h3>Here are all the attendee for event:<%= @event.event_name() %> </h3>

   <ul>
     <% @event.attendees().each() do |attendee| %>
       <li><%= attendee.name() %>,<%=attendee.number() %> </li>
     <% end %>
   </ul>

<% else %>
     <p>There are no attendees for <%= @event.event_name() %>!</p>
   <% end %>

Name: <%= @event.event_name() %>
Organization: <%= @event.organization() %>
location: <%= @event.location() %>
Date/Time: <%= @event.time() %>
Ticket: <%= @event.fee() %>
